* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: black;
}
.island {
  /* border: 5px solid black; */

  min-width: 30rem;
  max-width: 50rem;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  display: block;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
  /* border-radius: 50px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #a1a1a1, -20px -20px 60px #ffffff;   */
}

.header {
  /* border: 1px solid brown; */
  width: 100%;
  height: auto;
  margin: auto;
  /* margin-top: 20px; */
  text-transform: uppercase;
  text-align: left;
  align-items: center;
  justify-content: center;
  overflow: auto;
  display: flex;
}

.logo {
  width: 200px;
  height: 130px;
  margin: auto;
}

.header h1 {
  padding: 20px 0 20px 20px;
}

.maincontainer {
  /* border: 5px solid black; */
  width: 100%;
  margin: auto;
}

.playlist {
  border: 5px solid pink;
  width: auto;
  height: 300px;
  display: block;
  overflow: scroll;
  overflow-x: hidden;
}

.playercontainer {
  /* border: 5px solid hotpink; */
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10px 0px 0px 0px;
}

.maincontainer .playercontainer .thumbnail {
  /* border:10px solid black; */

  width: 25%;
  height: auto;
}

.maincontainer .playercontainer .thumbnail img {
  width: 100%;
  height: 100%;
}

/* .thumbnail img {
  border: 5px solid blue;
  width: 250px;
  height: 250px;
  overflow: hidden;
} */

.playersplitter {
  /* border: 5px solid darkgreen; */
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  display: block;
}

.songinformation {
  /* border: 5px solid burlywood; */
  width: 73%;
  min-height: 30px;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  color: white;
}

.playercontrols {
  /* border: 5px solid burlywood; */
  width: 73%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.playbutton {
  /* border: 5px solid green; */
  width: auto;
  height: auto;
  margin: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forwardbutton {
  /* border: 5px solid yellow; */
  width: auto;
  height: auto;
  margin: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backwardbutton {
  /* border: 5px solid orange; */
  width: auto;
  height: auto;
  margin: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

i.fa {
  color: white;
}

i.fa:hover {
  color: pink;
}

.maincontainer .playercontrols > div.playbutton i.fa-play {
  display: none;
}

.maincontainer .playercontrols > div.playbutton.paused i.fa-play {
  display: block;
}
.maincontainer .playercontrols > div.playbutton.paused i.fa-pause {
  display: none;
}

/* .thumbnail{
  width: 100px;
  height: 100px;
  
} */

.maincontainer .playlist .item {
  display: flex;
  border-bottom: 0.5px solid pink;
  cursor: pointer;
  /* margin: auto; */
}

.maincontainer .playlist .item .thumbnail {
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.maincontainer .playlist .thumbnail img {
  width: 100%;
  height: 100%;
}

.maincontainer .playlist .item:hover {
  background-color: pink;
  color: white;
}

.seekbararea {
  /* border: 5px solid darkkhaki; */
  width: 73%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.seekbar {
  /* border: 3px solid blue; */
  width: 95%;
  height: 20px;
  margin-top: 10px;
}

.seekbar input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  outline: none;
  background: white;
  overflow: hidden;
}

.seekbar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px;
  height: 0px;
  box-shadow: -700px 0px 0px 700px pink;
}

.maincontainer .playlist::-webkit-scrollbar {
  width: 10px;
  background: black;
}
.maincontainer .playlist::-webkit-scrollbar-thumb {
  background: white;
}
